docker-servers/bci-connection-nodered/data/.flows.json.backup
[
  {
    "id": "65311c41.968b44",
    "type": "tab",
    "label": "Emotiv Flow ",
    "disabled": false,
    "info": "Flow for the provisioning of the smart home app for EMOTIV."
  },
  {
    "id": "9b82b011.8bdf2",
    "type": "EMOTIV",
    "z": "65311c41.968b44",
    "name": "EMOTIV",
    "x": 210,
    "y": 220,
    "wires": [
      [
        "68522d79.5d13a4",
        "4c10a2.c43fef6",
        "79d4dd89.b35144",
        "f234c1af.9a84a"
      ]
    ]
  },
  {
    "id": "68522d79.5d13a4",
    "type": "Mental-Command",
    "z": "65311c41.968b44",
    "name": "Mental Commands",
    "actionName": "right",
    "mcSen": 10,
    "x": 590,
    "y": 240,
    "wires": [
      [
        "4e18100f.56d18"
      ]
    ]
  },
  {
    "id": "4c10a2.c43fef6",
    "type": "Mental-Command",
    "z": "65311c41.968b44",
    "name": "Mental Commands",
    "actionName": "left",
    "mcSen": 10,
    "x": 590,
    "y": 180,
    "wires": [
      [
        "8f336b81.728298"
      ]
    ],
    "info": "Left"
  },
  {
    "id": "79d4dd89.b35144",
    "type": "Mental-Command",
    "z": "65311c41.968b44",
    "name": "Mental Commands",
    "actionName": "neutral",
    "mcSen": 10,
    "x": 600,
    "y": 300,
    "wires": [
      [
        "70bd1a1f.f4ce44"
      ]
    ]
  },
  {
    "id": "f234c1af.9a84a",
    "type": "Mental-Command",
    "z": "65311c41.968b44",
    "name": "Mental Commands",
    "actionName": "pull",
    "mcSen": 10,
    "x": 590,
    "y": 360,
    "wires": [
      [
        "200a6a0.543db96"
      ]
    ]
  },
  {
    "id": "70a97d23.075254",
    "type": "debug",
    "z": "65311c41.968b44",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1430,
    "y": 120,
    "wires": []
  },
  {
    "id": "8f336b81.728298",
    "type": "function",
    "z": "65311c41.968b44",
    "name": "left",
    "func": "if(msg.payload > 60) {\n    msg.action = \"moveLeft\";\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 830,
    "y": 180,
    "wires": [
      [
        "ad0f32cf.09b01"
      ]
    ]
  },
  {
    "id": "1e9d7222.c1d6de",
    "type": "json",
    "z": "65311c41.968b44",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 1270,
    "y": 240,
    "wires": [
      [
        "70a97d23.075254",
        "f69b4aa1.e60968"
      ]
    ]
  },
  {
    "id": "4e18100f.56d18",
    "type": "function",
    "z": "65311c41.968b44",
    "name": "right",
    "func": "if(msg.payload > 60) {\n    msg.action = \"moveRight\";\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 830,
    "y": 240,
    "wires": [
      [
        "ad0f32cf.09b01"
      ]
    ]
  },
  {
    "id": "70bd1a1f.f4ce44",
    "type": "function",
    "z": "65311c41.968b44",
    "name": "neutral",
    "func": "if(msg.payload) {\n    msg.action = \"moveNeutral\";\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 830,
    "y": 300,
    "wires": [
      [
        "ad0f32cf.09b01"
      ]
    ]
  },
  {
    "id": "200a6a0.543db96",
    "type": "function",
    "z": "65311c41.968b44",
    "name": "pull",
    "func": "if(msg.payload > 60) {\n    msg.action = \"movePull\";\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 830,
    "y": 360,
    "wires": [
      [
        "ad0f32cf.09b01"
      ]
    ]
  },
  {
    "id": "f69b4aa1.e60968",
    "type": "websocket out",
    "z": "65311c41.968b44",
    "name": "",
    "server": "de068cb6.0f531",
    "client": "",
    "x": 1460,
    "y": 320,
    "wires": []
  },
  {
    "id": "ad0f32cf.09b01",
    "type": "rbe",
    "z": "65311c41.968b44",
    "name": "changeWatch",
    "func": "deadbandEq",
    "gap": "10",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 1080,
    "y": 240,
    "wires": [
      [
        "1e9d7222.c1d6de"
      ]
    ]
  },
  {
    "id": "de068cb6.0f531",
    "type": "websocket-listener",
    "path": "/ws/mentalCmd",
    "wholemsg": "true"
  }
]