homeassistant_flow/flow.json
[{"id":"2edaba51.88bb56","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"297194b9.4fb40c","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/light","method":"get","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["15fe850c.a485db"]]},{"id":"15fe850c.a485db","type":"api-current-state","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.deckenlampe","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":150,"y":80,"wires":[["7fbfdd9a.049e34"]]},{"id":"f048e596.d4ad68","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/light/switch","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["4bccbe0d.7ac7a"]]},{"id":"4bccbe0d.7ac7a","type":"api-call-service","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.deckenlampe","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":100,"y":180,"wires":[["7ab00a44.27f484"]]},{"id":"7ab00a44.27f484","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":380,"y":180,"wires":[]},{"id":"b813b49.9436f48","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/light","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["e96fbf00.0a01c"]]},{"id":"9d17761d.ac7178","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":960,"y":280,"wires":[]},{"id":"e96fbf00.0a01c","type":"api-current-state","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.schreibtisch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":150,"y":280,"wires":[["7fbfdd9a.049e34"]]},{"id":"b3bbb72f.22b1d8","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/light","method":"get","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[["29f907e.efe69f8"]]},{"id":"29f907e.efe69f8","type":"api-current-state","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.schreibtisch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":480,"wires":[["7fbfdd9a.049e34"]]},{"id":"6e5d735.2139c8c","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/light/switch","method":"get","upload":false,"swaggerDoc":"","x":150,"y":340,"wires":[["6c36eb6.111a314"]]},{"id":"6c36eb6.111a314","type":"api-call-service","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.schreibtisch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":100,"y":380,"wires":[["d87ad1b0.e0557"]]},{"id":"d87ad1b0.e0557","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":380,"y":380,"wires":[]},{"id":"607c577e.2a91c8","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/light/switch","method":"get","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["f4164a98.2d0a48"]]},{"id":"f4164a98.2d0a48","type":"api-call-service","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.schreibtisch","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":440,"y":540,"wires":[["d5fa3283.4ad0a"]]},{"id":"7fbfdd9a.049e34","type":"template","z":"2edaba51.88bb56","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\": \"{{payload}}\"}","output":"str","x":660,"y":280,"wires":[["9d17761d.ac7178"]]},{"id":"fb092812.7826b8","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/temperature","method":"get","upload":false,"swaggerDoc":"","x":130,"y":740,"wires":[["a548381e.f02028"]]},{"id":"9e16b0fd.a6ee2","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":780,"y":840,"wires":[]},{"id":"a548381e.f02028","type":"api-get-history","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","startdate":"","enddate":"","entityid":"climate.comet_dect_1","entityidtype":"is","useRelativeTime":true,"relativeTime":"15 m","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":350,"y":740,"wires":[["7dbab990.e6b9e8"]]},{"id":"7dbab990.e6b9e8","type":"function","z":"2edaba51.88bb56","name":"","func":"msg.payload = {\n    \"current_temp\": msg.payload[0].attributes.current_temperature,\n    \"goal_temp\": msg.payload[0].attributes.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":740,"wires":[["9e16b0fd.a6ee2"]]},{"id":"f7ff41ce.05ae2","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/temperature","method":"get","upload":false,"swaggerDoc":"","x":140,"y":840,"wires":[["2a80da7e.0d60f6"]]},{"id":"2a80da7e.0d60f6","type":"api-get-history","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","startdate":"","enddate":"","entityid":"climate.comet_dect_1","entityidtype":"is","useRelativeTime":true,"relativeTime":"15 m","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":350,"y":840,"wires":[["64ee4973.be8a98"]]},{"id":"64ee4973.be8a98","type":"function","z":"2edaba51.88bb56","name":"","func":"msg.payload = {\n    \"current_temp\": msg.payload[0].attributes.current_temperature,\n    \"goal_temp\": msg.payload[0].attributes.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":840,"wires":[["9e16b0fd.a6ee2"]]},{"id":"8a10f989.728a58","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/temperature","method":"get","upload":false,"swaggerDoc":"","x":140,"y":940,"wires":[["8d71c0c7.909d"]]},{"id":"8d71c0c7.909d","type":"api-get-history","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","startdate":"","enddate":"","entityid":"climate.comet_dect_1","entityidtype":"is","useRelativeTime":true,"relativeTime":"15 m","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":350,"y":940,"wires":[["85a7bf06.0763f"]]},{"id":"85a7bf06.0763f","type":"function","z":"2edaba51.88bb56","name":"","func":"msg.payload = {\n    \"current_temp\": msg.payload[0].attributes.current_temperature,\n    \"goal_temp\": msg.payload[0].attributes.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":940,"wires":[["9e16b0fd.a6ee2"]]},{"id":"8955c385.5f8e2","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/temperature","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1040,"wires":[["b7f54ea0.0768f"]]},{"id":"b7f54ea0.0768f","type":"function","z":"2edaba51.88bb56","name":"","func":"//msg.payload = {\"temperature\": msg.payload.temperature};\nmsg.payload = {\n    \"goal_temperature\": msg.payload.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1040,"wires":[["9e16b0fd.a6ee2","db7bedff.8798a"]]},{"id":"43b6a231.4c0d6c","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/temperature","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1120,"wires":[["64e5a73e.f1e4d8"]]},{"id":"64e5a73e.f1e4d8","type":"function","z":"2edaba51.88bb56","name":"","func":"//msg.payload = {\"temperature\": msg.payload.temperature};\nmsg.payload = {\n    \"goal_temperature\": msg.payload.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1120,"wires":[["9e16b0fd.a6ee2","db7bedff.8798a"]]},{"id":"4ea60e5c.14d86","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/temperature","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1180,"wires":[["31fc7238.4da04e"]]},{"id":"31fc7238.4da04e","type":"function","z":"2edaba51.88bb56","name":"","func":"//msg.payload = {\"temperature\": msg.payload.temperature};\nmsg.payload = {\n    \"goal_temperature\": msg.payload.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1180,"wires":[["9e16b0fd.a6ee2","db7bedff.8798a"]]},{"id":"d5fa3283.4ad0a","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":620,"y":540,"wires":[]},{"id":"db7bedff.8798a","type":"api-call-service","z":"2edaba51.88bb56","name":"","server":"15a7ff99.b00c5","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.comet_dect_1","data":"{\"temperature\":\"{{payload.goal_temperature}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":720,"y":1100,"wires":[[]]},{"id":"15a7ff99.b00c5","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
