smarthome_template/data/flows.json
[{"id":"2a934c42.14fc04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2edaba51.88bb56","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15a7ff99.b00c5","type":"server","name":"Home Assistant","addon":true},{"id":"12fa57.6e75e5aa","type":"fritz-api","name":"FritzBox","host":"http://fritz.box","strictSSL":false},{"id":"297194b9.4fb40c","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/light","method":"get","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[[]]},{"id":"f048e596.d4ad68","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/light/switch","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[[]]},{"id":"7ab00a44.27f484","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":380,"y":180,"wires":[]},{"id":"b813b49.9436f48","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/light","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[[]]},{"id":"9d17761d.ac7178","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":960,"y":280,"wires":[]},{"id":"b3bbb72f.22b1d8","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/light","method":"get","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[[]]},{"id":"6e5d735.2139c8c","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/light/switch","method":"get","upload":false,"swaggerDoc":"","x":150,"y":340,"wires":[[]]},{"id":"d87ad1b0.e0557","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":380,"y":380,"wires":[]},{"id":"607c577e.2a91c8","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/light/switch","method":"get","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[[]]},{"id":"7fbfdd9a.049e34","type":"template","z":"2edaba51.88bb56","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\": \"{{payload}}\"}","output":"str","x":660,"y":280,"wires":[["9d17761d.ac7178"]]},{"id":"fb092812.7826b8","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/temperature","method":"get","upload":false,"swaggerDoc":"","x":130,"y":740,"wires":[[]]},{"id":"9e16b0fd.a6ee2","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{"content-type":"application/json"},"x":780,"y":840,"wires":[]},{"id":"7dbab990.e6b9e8","type":"function","z":"2edaba51.88bb56","name":"","func":"msg.payload = {\n    \"current_temp\": msg.payload[0].attributes.current_temperature,\n    \"goal_temp\": msg.payload[0].attributes.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":740,"wires":[["9e16b0fd.a6ee2"]]},{"id":"f7ff41ce.05ae2","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/temperature","method":"get","upload":false,"swaggerDoc":"","x":140,"y":840,"wires":[[]]},{"id":"64ee4973.be8a98","type":"function","z":"2edaba51.88bb56","name":"","func":"msg.payload = {\n    \"current_temp\": msg.payload[0].attributes.current_temperature,\n    \"goal_temp\": msg.payload[0].attributes.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":840,"wires":[["9e16b0fd.a6ee2"]]},{"id":"8a10f989.728a58","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/temperature","method":"get","upload":false,"swaggerDoc":"","x":140,"y":940,"wires":[["fc3b6bc2.745fc8"]]},{"id":"85a7bf06.0763f","type":"function","z":"2edaba51.88bb56","name":"","func":"msg.payload = {\n    \"current_temp\": msg.payload[0].attributes.current_temperature,\n    \"goal_temp\": msg.payload[0].attributes.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":940,"wires":[["9e16b0fd.a6ee2"]]},{"id":"8955c385.5f8e2","type":"http in","z":"2edaba51.88bb56","name":"","url":"/living/temperature","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1040,"wires":[["b7f54ea0.0768f"]]},{"id":"b7f54ea0.0768f","type":"function","z":"2edaba51.88bb56","name":"","func":"//msg.payload = {\"temperature\": msg.payload.temperature};\nmsg.payload = {\n    \"goal_temperature\": msg.payload.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1040,"wires":[["9e16b0fd.a6ee2"]]},{"id":"43b6a231.4c0d6c","type":"http in","z":"2edaba51.88bb56","name":"","url":"/bedroom/temperature","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1120,"wires":[["64e5a73e.f1e4d8"]]},{"id":"64e5a73e.f1e4d8","type":"function","z":"2edaba51.88bb56","name":"","func":"//msg.payload = {\"temperature\": msg.payload.temperature};\nmsg.payload = {\n    \"goal_temperature\": msg.payload.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1120,"wires":[["9e16b0fd.a6ee2"]]},{"id":"4ea60e5c.14d86","type":"http in","z":"2edaba51.88bb56","name":"","url":"/kitchen/temperature","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1180,"wires":[["31fc7238.4da04e"]]},{"id":"31fc7238.4da04e","type":"function","z":"2edaba51.88bb56","name":"","func":"//msg.payload = {\"temperature\": msg.payload.temperature};\nmsg.payload = {\n    \"goal_temperature\": msg.payload.temperature\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1180,"wires":[["9e16b0fd.a6ee2"]]},{"id":"d5fa3283.4ad0a","type":"http response","z":"2edaba51.88bb56","name":"","statusCode":"200","headers":{},"x":620,"y":540,"wires":[]},{"id":"fc3b6bc2.745fc8","type":"fritz-thermostat","z":"2edaba51.88bb56","connection":"12fa57.6e75e5aa","name":"","action":"getTemperature","x":430,"y":960,"wires":[["c948b60a.091fe8"]]},{"id":"c948b60a.091fe8","type":"debug","z":"2edaba51.88bb56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":980,"wires":[]}]