emotiv_connection/nodered/data/flows.json
[{"id":"feeb05c2.515358","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e67bc91e.b4cf28","type":"websocket-listener","path":"/ws/commands","wholemsg":"false"},{"id":"bd208c99.6be8a","type":"EMOTIV","z":"feeb05c2.515358","name":"EMOTIV","x":140,"y":200,"wires":[["bdf8241f.5110e8"]]},{"id":"bdf8241f.5110e8","type":"Profile-Name","z":"feeb05c2.515358","name":"Profile Name","profileName":"simulated","x":150,"y":280,"wires":[["2cf606e0.198b1a","c8643101.1550d","5630f2e7.8c768c","9021c37a.f6ca4"]]},{"id":"2cf606e0.198b1a","type":"Mental-Command","z":"feeb05c2.515358","name":"Mental Commands","actionName":"pull","mcSen":"5","x":410,"y":220,"wires":[["788d44a0.46e37c"]]},{"id":"c8643101.1550d","type":"Mental-Command","z":"feeb05c2.515358","name":"Mental Commands","actionName":"right","mcSen":"5","x":410,"y":280,"wires":[["def8bd22.25aec"]]},{"id":"d0075992.84bec8","type":"websocket out","z":"feeb05c2.515358","name":"","server":"e67bc91e.b4cf28","client":"","x":1050,"y":280,"wires":[]},{"id":"788d44a0.46e37c","type":"template","z":"feeb05c2.515358","name":"pull json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\": \"pull\",\"intensity\": {{payload}}}","output":"str","x":640,"y":220,"wires":[["41c2a55f.16ba1c"]]},{"id":"def8bd22.25aec","type":"template","z":"feeb05c2.515358","name":"right json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\": \"right\",\"intensity\": {{payload}}}","output":"str","x":640,"y":280,"wires":[["41c2a55f.16ba1c"]]},{"id":"5630f2e7.8c768c","type":"Mental-Command","z":"feeb05c2.515358","name":"Mental Commands","actionName":"left","mcSen":"5","x":410,"y":340,"wires":[["f198c4d2.4eb068"]]},{"id":"f198c4d2.4eb068","type":"template","z":"feeb05c2.515358","name":"left json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\": \"left\",\"intensity\": {{payload}}}","output":"str","x":640,"y":340,"wires":[["41c2a55f.16ba1c"]]},{"id":"41c2a55f.16ba1c","type":"json","z":"feeb05c2.515358","name":"","property":"payload","action":"","pretty":false,"x":810,"y":280,"wires":[["394b1d20.000ed2"]]},{"id":"9021c37a.f6ca4","type":"Mental-Command","z":"feeb05c2.515358","name":"Mental Commands","actionName":"neutral","mcSen":"5","x":420,"y":440,"wires":[["42981720.c4e798"]]},{"id":"42981720.c4e798","type":"template","z":"feeb05c2.515358","name":"neutral json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\": \"neutral\",\"intensity\": {{payload}}}","output":"str","x":650,"y":440,"wires":[["41c2a55f.16ba1c"]]},{"id":"394b1d20.000ed2","type":"throttle","z":"feeb05c2.515358","name":"Only every second","throttleType":"time","timeLimit":"1","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":910,"y":320,"wires":[["d0075992.84bec8"]]}]